@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
font-family: 'Monserrat', sans-serif;
}

.button {
  @apply bg-white text-[#ff000] rounded-md px-4 py-2 font-bold transition duration-300 ease-in-out;
}

.button:hover {
  @apply bg-[#ff0000] text-white;
}